.signup{
	justify-content: center;
	display: flex;
	padding: 0.5%;
}

.input{
	font-size:17px;
	width: 20%;
	height: 30px;
	text-align: left;
	border-style: solid;
	border-radius: 10px;
}
.signupLabel{
	text-align: center;
	font-size: 30px;
}
#profileImg{
	
	height: 200px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	width: 200px;
	border-style: solid;
	border-radius: 50%;

}
#post{
	margin: auto;
  	display: block;
	width: 50%;
	height: 100px;
	margin-top:20px;

}
