header {
  width: 100vw;
  background: url(cover.PNG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
}

.signup{
	justify-content: center;
	display: flex;
	padding: 0.5%;
}

.input{
	font-size:17px;
	width: 30%;
	height: 40px;
	text-align: left;
	border-style: solid;
	border-radius: 10px;
	border-color: #220B0C;
}
.signupLabel{
	text-align: center;
	font-size: 45px;
	font-family: Merriweather, serif;
}
#profileImg{
	
	height: 200px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	width: 200px;
	border-style: solid;
	border-radius: 50%;

}
#post{
	margin: auto;
  	display: block;
	width: 50%;
	height: 100px;
	margin-top:20px;

}
#postbtn{
	margin: auto;
  	display: block;
	width: 90px;
	height: 50px;
	margin-top:20px;
	}
